@charset "utf-8";
	
/* PC
--------------------------*/
    .cs_main {width:1280px; margin:0 auto;padding: 20px 30px 0;box-sizing: border-box;display: flex; justify-content: space-between;}
    .cs_main .menu_wrap {width:220px;padding-top:30px;}
    .cs_main .menu_wrap h2 {height:54px;border-bottom:1px solid #ccc;box-sizing: border-box;font-size: 30px;font-weight: 700;line-height: 35.8px;margin-bottom:30px;}
    .cs_main .menu_wrap > ul > li {border-bottom: 1px solid #eee;}
    .cs_main .menu_wrap > ul  a {line-height:49px;height: 50px;font-size: 16px;font-weight: 400;color: #333;}
	.cs_main .menu_wrap > ul  a.active {color: #C13584;font-weight: 700;}
    .cs_main .contents_wrap {width:890px;}

    .cs_main .contents_wrap {margin:30px 0 0; font-weight:400;}
    .cs_main .contents_wrap h3 {margin-bottom:10px; font-size:24px; font-weight:700; line-height:28px; }
    .cs_main .contents_wrap header {display:flex; align-items:flex-start;  border-bottom:1px solid #ccc;}
    .cs_main .contents_wrap header h3 {margin-bottom:21px;}
    .cs_main .contents_wrap header .more {margin-left:auto; margin-bottom:14px; padding:8px 6px 8px 13px; height:20px; line-height:20px; border:1px solid #ccc; border-radius:4px; font-size:12px; color:#333; font-weight:700;} 
    .cs_main .contents_wrap header .more::after {content:""; display:inline-block; width:20px; height:20px; line-height:20px; vertical-align:top; background:url(../images/m/cs_ico_rightarrow.png) 0 0 no-repeat; background-size:20px;}
    .cs_main .contents_wrap > div{margin:0 0 70px;}
    .cs_main .contents_wrap > div:last-child {margin-bottom: 0;}
	.cs_main .sub_header {display:none;} 
	
    .cs {width:1280px; margin:0 auto;padding: 20px 30px 0;box-sizing: border-box;display: flex; justify-content: space-between;}
    .cs .menu_wrap {width:220px;padding-top:30px;}
    .cs .menu_wrap h2 {height:54px;border-bottom:1px solid #ccc;box-sizing: border-box;font-size: 30px;font-weight: 700;line-height: 35.8px;margin-bottom:30px;}
    .cs .menu_wrap > ul > li {border-bottom: 1px solid #eee;}
    .cs .menu_wrap > ul  a {line-height:49px;height: 50px;font-size: 16px;font-weight: 400;color: #333;}
	.cs .menu_wrap > ul  a.active {color: #C13584;font-weight: 700;}
    .cs .contents_wrap {margin:30px 0 0; font-weight:400;width:890px;}
    .cs .contents_wrap h3 {margin-bottom:10px; font-size:24px; font-weight:700; line-height:28px; }
    .cs .contents_wrap header {display:flex; align-items:flex-start;  border-bottom:1px solid #ccc;}
    .cs .contents_wrap header h3 {margin-bottom:21px;}
    .cs .contents_wrap header .more {margin-left:auto; margin-bottom:14px; padding:8px 6px 8px 13px; height:20px; line-height:20px; border:1px solid #ccc; border-radius:4px; font-size:12px; color:#333; font-weight:700;} 
    .cs .contents_wrap header .more::after {content:""; display:inline-block; width:20px; height:20px; line-height:20px; vertical-align:top; background:url(../images/m/cs_ico_rightarrow.png) 0 0 no-repeat; background-size:20px;}
    .cs .contents_wrap > div{margin:0  0 70px;}
    .cs .contents_wrap > div:last-child {margin-bottom: 0;}
	.none_header .cs .sub_header {padding:0;margin-bottom:10px;}
	.none_header .cs .sub_header .inner {width:auto;} 

    .cs_btnarea {margin:30px 0 70px; text-align:center;}
    .cs_btnarea .button {width:390px;}
    .cs_btnarea.mb0 {margin-bottom: 0;}

    .cs_mainbox {border-radius:10px;padding:30px;border:1px solid #ccc; background-color:#F5F5F5;}
    .cs_mainbox .inner {display:flex; align-items:center; column-gap:16px; margin-top:10px; font-size:18px;}
    .cs_mainbox .inner > *:first-of-type {min-width:195px;}
    .cs_mainbox .inner strong {font-size:36px; line-height:43px;}

    .cs_entry_info {background:#f6f6f6 url(../images/m/cs_ico_entryinfo.png) calc(100% - 34px) center no-repeat; background-size:148px auto; border-radius:6px; padding:46px 41px; font-size:16px; line-height:28px;}
    .cs_entry_info h3 {margin-bottom:17px; font-size:30px; line-height:36px;}

    .cs_acordbox .inner {border-bottom:1px solid #eee;}
    .cs_acordbox .more {display:flex; align-items:center; column-gap:15px; padding:8px 5px; cursor:pointer;}
    .cs_acordbox .more::before {content:"Q"; flex-shrink:0; display:block; width:30px; height:30px; line-height:30px; text-align:center; color:#fff; font-size:16px; background-color:#C13584; border-radius:50%; font-weight:700;}
    .cs_acordbox .more::after {content:""; flex-shrink:0; display:block; margin-left:auto; width:30px; height:30px; background:url(../images/m/cs_ico_downarrow.png) 0 0 no-repeat; background-size:30px;}
    .cs_acordbox .more h4 {font-weight:400; color:#333;}
    .cs_acordbox .more.more_open + .cont {display:block;}
    .cs_acordbox .more.more_open::after {transform:rotate(180deg);}
    .cs_acordbox .cont {display:none; background-color:#fbfbfb; padding:20px 50px; line-height:24px; border-top:1px solid #eee;}

    .cs_main .cs_notice {padding-top: 10px;}
    .cs_main .cs_notice li {display:flex; flex-wrap:nowrap; align-items:center; line-height:18px; border-bottom:1px solid #eee;} 
    .cs_main .cs_notice li a { margin:14px 8px; color:#333;display: block;white-space: nowrap;overflow:hidden; text-overflow:ellipsis;font-size: 14px;line-height: 18px;}
    .cs_main .cs_notice li .date {flex-shrink:0; margin-left:auto; width:100px; text-align:center;font-size: 14px;line-height: 18px;}
    .cs_main .cs_notice li .txt {flex-shrink:0; width:50px; height:20px; overflow:hidden; text-align:center; line-height:20px;}
    .cs_main .cs_notice li .txt.imp {color:#fff; text-indent:100%; background:url(../images/m/cs_ico_notice.png) center no-repeat; background-size:20px;}

    .cs .cs_notice {padding-top: 10px;}
    .cs .cs_notice li {display:flex; flex-wrap:nowrap; align-items:center; line-height:18px; border-bottom:1px solid #eee;} 
    .cs .cs_notice li a {height:20px; margin:14px 8px; color:#333;display: block;white-space: nowrap;overflow:hidden; text-overflow:ellipsis;}
    .cs .cs_notice li .date {flex-shrink:0; margin-left:auto; width:100px; text-align:center;}
    .cs .cs_notice li .txt {flex-shrink:0; width:50px; height:20px; overflow:hidden; text-align:center; line-height:20px;}
    .cs .cs_notice li .txt.imp {color:#fff; text-indent:100%; background:url(../images/m/cs_ico_notice.png) center no-repeat; background-size:20px;}

    .cs_board .head {display:flex; padding:14px 0; gap:14px 15px; align-items:center; justify-content:flex-end;}
    .cs_board .head h4 {margin-right:auto; font-size:18px;}
    .cs_board .head span {flex-shrink:0; min-width:100px; text-align:center;}
    .cs_board .cont {padding:20px; border:1px solid #eee; border-width:1px 0;}
    .cs_board .cont img {display:block; margin:10px auto;}
    .cs_board .cont img:fisrt-of-type {margin-top:0;}
    .cs_board_list {border-top:1px solid #eee;}
    .cs_board_list li {font-size:16px;}
    .cs_board_list li a {margin:15px 30px;}
    .cs_board_list li .txt {width:110px;}

    .cs_tab_scroll {display:flex; gap:10px; margin:30px 0;}
    .cs_tab button {flex:1; border:1px solid #ccc; border-radius:4px; background:#fff; height:50px; color:#666;}
    .cs_tab button.selected {color:#333; font-weight:700; background:#F5F5F5;}

    .cs_search {display:flex; margin:20px 0 30px; background:#FBFBFB; border-radius:6px; padding:20px 145px;}
    .cs_search select {flex-shrink:0; width:110px; height:50px; padding:0 20px 0 10px; box-sizing:border-box; border:1px solid #ccc; border-radius:4px 0 0 4px; background:url(../images/m/cs_ico_downarrow.png) calc(100% - 10px) center no-repeat; background-size:30px; appearance:none; background-color:#fff;}
    .cs_search fieldset {position:relative; flex:1; margin-left:-1px;}
    .cs_search input {border:1px solid #ccc; padding:0 44px 0 10px; border-radius:4px; height:50px; box-sizing:border-box; width:100%;}
    .cs_search button {position:absolute; right:10px; top:50%; margin-top:-15px; width:30px; height:30px; border:0 none; cursor:pointer; overflow:hidden; background:url(../images/m/cs_ico_search.png) center no-repeat; background-size:24px;}

    .cs_entry_dtl {position: relative;}
	.cs_entry_dtl .tooltip_sns {top: -5px}
    .cs_entry_dtl .head{display:flex; align-items:center; margin-top:35px; margin-bottom:15px;}
    .cs_entry_dtl .head h4 {font-size:16px; line-height:20px;}
    .cs_entry_dtl .head h4 + * {margin-left:auto;}
    .cs_entry_dtl li {margin:10px 0 10px 20px; line-height:24px; list-style:disc; font-weight:400;}
    .cs_entry_dtl table {margin:-5px 0 30px; width:100%; border-spacing:0 10px; border-collapse:separate; table-layout:auto;}
    .cs_entry_dtl table thead th {background:#eee; padding:20px; font-size:16px;}
    .cs_entry_dtl table thead th:first-child {border-radius:6px 0 0 6px;}
    .cs_entry_dtl table thead th:last-child {border-radius:0 6px 6px 0;}
    .cs_entry_dtl table tbody th, 
    .cs_entry_dtl table tbody td {border:1px solid #eee;}
    .cs_entry_dtl table tbody th {width:300px; background-color:#f5f5f5; border-right:0 none;}
    .cs_entry_dtl table tbody td {border-left:0 none; padding:10px 20px; font-weight:500;}
    .cs_entry_dtl p {line-height:24px;}
    .cs_entry_dtl p + p {margin-top:10px;}
	.content.join_store {padding-top: 0;width: 480px;}
	.content.join_store .member_table {border-top:0;margin-top: 0;}
	.content.join_store .member_table th {width: 110px;font-weight: 700;}
	.content.join_store .member_table + .member_table {border-top: 1px solid #ccc;}
	.content.join_store .popup_button.flex {margin-top: 0;}
    .cs_filedown {margin:30px 0;}
    .cs_filedown a {display:flex; align-items:center; width:500px; height:50px; margin:auto; padding:0 10px; border:1px solid #ccc; border-radius:4px; box-sizing:border-box; line-height:48px; color:#333;}
    .cs_filedown a::after {content:""; flex-shrink:0; margin-left:auto; width:24px; height:24px; background:url(../images/m/cs_ico_filedown.png) no-repeat; background-size:24px;}
    .cs_filedown span {display:block; margin-right:12px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}

	.cs .page {margin-bottom: 0;}

	.cs .input { border:1px solid #ccc; border-radius:4px; padding:0 10px; width:100%; height:50px; line-height:48px;  box-sizing:border-box;flex: 1;font-size:14px;color:#333;}
	.cs .input:read-only {background:#f5f5f5;}
	.cs .input:read-only:focus {border-color:#ccc;}
	.cs .input:focus {position:relative; border-color:#333;}

	.my_inquiry .inquiry_write {margin-top: -10px;}
	.my_inquiry .inquiry_write table {width: 100%;}
	.my_inquiry .inquiry_write table th {width: 120px;text-align: left;font-size: 14px;font-weight: 500;line-height: 16.71px;vertical-align: top;padding-top: 26px;border-bottom: 1px solid #eee;}
	.my_inquiry .inquiry_write table td {width: auto;padding: 10px 0;border-bottom: 1px solid #eee;}
	.my_inquiry .inquiry_write .text_area {width: 100%;box-sizing: border-box;border: 1px solid #ccc;padding: 10px;height: 200px;border-radius: 4px;}

	.my_inquiry .inquiry_write .upload .file_item {position: relative;overflow: hidden;display: flex;gap: 10px;}
	.my_inquiry .inquiry_write .upload .file_item .file {position: absolute;left: 0;top: 0;width: 200%;height: 200%;opacity: 0;}
	.my_inquiry .inquiry_write .upload .file_item .input {flex:1;}
	.my_inquiry .inquiry_write .upload .file_item .button {flex:0;min-width: 88px;height: 50px;}
	.my_inquiry .inquiry_write .upload .file_item +.file_item {margin-top: 10px;}

	.my_inquiry .btn_bottom {display: flex;margin-top: 30px;justify-content: center; align-items: center;gap: 10px;}
	.my_inquiry .btn_bottom .button {width: 230px;}
	.my_inquiry .notice {border: 1px solid #ccc;padding: 30px 20px;margin-top: 60px;}
	.my_inquiry .notice .title {font-size: 14px;font-weight: 700;line-height: 16.71px;color: #333;margin-bottom: 10px;}
	.my_inquiry .notice li {padding-left: 24px;position: relative;font-size: 14px;font-weight: 400;line-height: 24px;color: #333;}
	.my_inquiry .notice li:after {content:""; position: absolute;left: 10px;top: 10px;width: 3px;height: 3px;border-radius: 100%; background-color: #333;}


/* Mobile
--------------------------*/
@media (max-width: 1280px) {

    .cs_main {display:block; width:auto; max-width:768px; padding:0 14px; box-sizing:border-box;}
	.cs_main .sub_header {display:block;}
    .cs_main .menu_wrap {display:none;}
    .cs_main .contents_wrap {width:auto; font-size:13px;margin: 20px 0 0;}
    .cs_main .contents_wrap h3 {font-size:16px; line-height:19px;}
    .cs_main .contents_wrap > div {margin-bottom:50px;}
    .cs_main .contents_wrap header {align-items:center; padding-bottom:11px;}
    .cs_main .contents_wrap header h3 {margin-bottom:0;}
    .cs_main .contents_wrap header .more {margin-bottom:0; border:0 none; padding-top:2px; padding-bottom:2px;}



    .cs {display:block; width:auto; max-width:768px; padding:0 14px; box-sizing:border-box;}
    .cs .menu_wrap {display:none;}
    .cs .contents_wrap {width:auto; font-size:13px;margin-top: 0;}
    .cs .contents_wrap h3 {font-size:16px; line-height:19px;}
    .cs .contents_wrap > div {margin-bottom:50px;}
    .cs .contents_wrap header {align-items:center; padding-bottom:11px;}
    .cs .contents_wrap header h3 {margin-bottom:0;}
    .cs .contents_wrap header .more {margin-bottom:0; border:0 none; padding-top:2px; padding-bottom:2px;}
    .cs_ask {margin-bottom:20px !important;}
    .cs_ask .button {width:100%; border-color:#ccc; background-color:#f5f5f5; font-size:16px; color:#333;}
    .cs_mainbox {padding:20px;}
    .cs_mainbox .inner {margin:0; align-items:flex-start; flex-direction:column; font-size:14px;}
    .cs_mainbox .inner strong {font-size:24px; line-height:28px;}
    .cs_mainbox .inner span {margin:3px 0 2px;}
    .cs_mainbox .inner > *:first-of-type {min-width:0;}

    .cs_entry_info {min-height:110px; padding:23px 140px 23px 22px; background-size:110px auto; background-position:calc(100% - 13px) center; font-size:12px; line-height:20px;}
	.cs .page {margin-bottom: 0;}
    .cs .cs_notice {padding-top: 20px;}
    .cs .cs_notice li:has(.txt) {flex-wrap:wrap; padding:5px 0 0;height: 50px; align-content: flex-start; align-items: flex-start;}
    .cs .cs_notice li .txt {width:20px;display: none;}
	.cs .cs_notice li .txt.imp {margin-right: 5px;}
    .cs .cs_notice li .imp {display: inline-block;margin-top: 2px;}
    .cs .cs_notice li a { margin:0;max-width: calc(100% - 30px);line-height: 24px;height: auto;}
    .cs .cs_notice li .txt ~ .date {width:100%; text-align:left; margin-top:5px;line-height: 12px;font-size: 12px;}
    
    .cs_main .cs_notice li a { margin:11px 15px 11px 5px; font-size: 12px;line-height: 24px;}
    .cs_main .cs_notice li .date {width:90px; font-size: 12px;line-height: 24px;}

	.cs_acordbox .more::before {width: 24px;height: 24px;line-height: 24px;font-size: 12px;}
	.cs_acordbox .more {gap: 10px;}
	.member_table .m_box .addr ,
	.content.join_store .popup_button.flex {gap: 6px;}
	.member_table .m_box .addr .button {height: 46px;}
	.content.join_store .popup_button.flex .button {height: 46px;}

    .cs_board .head {display:block; overflow:hidden;padding: 0;}
    .cs_board .head span {float:left; padding:5px 0; width:50%; min-width:0; line-height:24px; text-align:left; font-size:12px;}
    .cs_board .head span.date {text-align:right;}
    .cs_board .head h4 {font-size:16px;}
    .cs_btnarea {margin-bottom: 20px;}
    .cs_btnarea .button {width:100%;}
    .cs_board_list li {font-size:14px;}
    .cs_board_list li:has(.txt) {flex-wrap:nowrap; padding:15px 0;}
    .cs_board_list li .txt {width:50px;}
    .cs_board_list li .txt ~ a {width:auto;}
    .cs_board_list li .txt ~ .date {display:none;}

    .cs_search {margin:20px 0; padding:18px 20px;}
    .cs_search input {border-radius:4px;}

    .cs_tab {margin:20px -14px; overflow:hidden; overflow-x:auto; -webkit-overflow-scrolling:touch;}
    .cs_tab_scroll {min-width:100%; display:inline-flex; margin:0 0 0 14px; padding-bottom:8px; flex-wrap:nowrap; white-space:nowrap;}
    .cs_tab_scroll button {flex:auto; min-width:50px; width:auto; height:38px; padding:0 11px; box-sizing:content-box;}

    .cs_entry_dtl .head .btn_share {width:20px; height:20px;}
    .cs_entry_dtl table {margin-top:-25px;}
    .cs_entry_dtl table thead th {display:none;}
    .cs_entry_dtl table tbody th {width:auto; padding:14px 20px; text-align:left; border-color:#f5f5f5;}
    .cs_entry_dtl table tbody th, 
    .cs_entry_dtl table tbody td {display:block;}
    .cs_entry_dtl table tbody td {border:1px solid #eee; border-top:0 none; line-height:18px;}
    .cs_entry_dtl li {line-height:18px;}
    .cs_filedown a {width:100%;}
	.cs_acordbox .cont {padding: 10px 14px;}
	
	.content.join_store .member_table .m_box.full .box {gap: 4px;}
	.content.join_store .member_table .m_box.full .box .input {width: 100%;}
	.content.join_store .member_table .btn_file .button {height: 45px;line-height: 43px;}
	.content.join_store .member_table .m_box .cell .bar {width: 7px;}
	.content.join_store .member_table .m_box .email .bar {width: 13px;}
	.content.join_store .member_table .m_box .email .input {flex:1; width: 100%;}
	.content.join_store {width: auto;}

	
	.my_inquiry {margin-top:-20px;} 
	.my_inquiry .inquiry_write table th  {display: none;}
	.my_inquiry .inquiry_write table td .input {height: 46px;}
	.my_inquiry .inquiry_write table td {border-bottom: 0;padding-bottom: 0;}
	.my_inquiry .inquiry_write .upload .file_item .button {height: 46px;line-height: 46px;}
	.my_inquiry .inquiry_write .select_box,
	.my_inquiry .inquiry_write .select_box > button{width: 100%;font-size: 14px;}
	.my_inquiry .inquiry_write {margin-top: 10px;}
	.my_inquiry .btn_bottom {margin-top: 20px;}
	.my_inquiry .btn_bottom .button {flex:1;}
	.my_inquiry .btn_bottom .white {flex:0; min-width: 100px;}
	.my_inquiry .inquiry_write .upload .file_item {gap: 4px;}
	.my_inquiry .notice {border: 0;margin-top: 30px;padding: 20px 10px;border: 1px solid #ccc;}
	.my_inquiry .notice .title {font-size: 14px;font-weight: 700;line-height: 16.71px;color: #333;margin-bottom: 10px;}
	.my_inquiry .notice li {padding-left: 20px;position: relative;font-size: 12px;line-height: 20px;}
	.my_inquiry .notice li:after {content:""; position: absolute;left: 7px;top: 8px;width: 2px;height: 2px}
	
	
}   