@charset "utf-8";

/* pc
--------------------------*/
.products_wrap {
}
.products_wrap .product_info {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  width: 1220px;
  margin: -80px auto 90px;
  position: relative;
  background-color: #fff;
}
.products_wrap .detail_wrap {
  width: 540px;
  position: relative;
}
.products_wrap .detail_wrap .product_name {
  display: flex;
  flex-direction: column-reverse;
}
.products_wrap .detail_wrap .title {
  padding: 16px 52px 0 0;
  color: #333;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.64px;
}
.products_wrap .detail_wrap .sub_copy {
  color: #666;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.09px;
  padding-right: 52px;
  width: 540px;
  box-sizing: border-box;
}

.products_wrap .detail_wrap .price_box {
  margin-top: 24px;
  position: relative;
  font-size: 26px;
  line-height: 31px;
}
.products_wrap .detail_wrap .price_box .discount {
  color: #ff3b30;
}
.products_wrap .detail_wrap .price_box .price_sale {
  color: #333;
}
.products_wrap .detail_wrap .price_box .price_consumer {
  color: #999;
}
.products_wrap .detail_wrap .discount_box {
  display: inline-block;
}
.products_wrap .detail_wrap .discount_box + .bulk_box {
  margin-left: 44px;
}
.products_wrap .detail_wrap .discount_box + .bulk_box::after {
  content: "";
  position: absolute;
  left: -23px;
  border-left: 1px solid #ccc;
  height: 20px;
  top: 5px;
}
.products_wrap .detail_wrap .bulk_box {
  display: inline-block;
  position: relative;
}
.products_wrap .detail_wrap .tooltip_coupon {
  display: inline-flex;
}
.products_wrap .detail_wrap .price_box.is_disc_coupon {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.09px;
}
.products_wrap .detail_wrap .price_box.is_disc_coupon .price_sale strong {
  font-weight: 400;
}
.products_wrap .detail_wrap .price_box[class*="is_disc"] {
  display: flex;
  align-items: center;
  gap: 6px;
}

.products_wrap .product_info .thumb_wrap .big_thumb img {
  border-radius: 10px;
  width: 636px;
  height: 636px;
  box-sizing: border-box;
  border: 1px solid #eee;
}
.products_wrap .detail_wrap .price_discount {
  font-size: 26px;
  line-height: 31.03px;
  color: #333;
  vertical-align: middle;
}
.products_wrap .detail_wrap .price_bulk {
  font-size: 26px;
  line-height: 31.03px;
  color: #333;
  vertical-align: middle;
}
.products_wrap .prd_bulk {
  height: 22px;
  padding: 0 8px;
  border-radius: 10px;
  display: inline-block;
  background-color: #999;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: -0.05em;
  box-sizing: border-box;
  line-height: 22px;
  vertical-align: middle;
  margin-left: 10px;
}
.products_wrap .prd_coupon {
  height: 22px;
  padding: 0 25px 0 8px;
  border-radius: 20px;
  display: inline-block;
  background: #c13584 url("../images/pc/ico_emark_02.png") right 0 no-repeat;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: -0.05em;
  box-sizing: border-box;
  line-height: 22px;
  vertical-align: middle;
  margin-left: 10px;
  border: 0;
}

.products_wrap .delivery_info {
  border-top: 1px solid #eee;
  margin-top: 20px;
  padding-top: 20px;
}
.products_wrap .delivery_info dt {
  padding-left: 25px;
  background: url("../images/pc/ico_delivery_01.png") 0 0 no-repeat;
  color: #333;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 17px;
}
.products_wrap .delivery_info dt span {
  margin-left: 26px;
  position: relative;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.products_wrap .delivery_info dt span::after {
  content: "";
  position: absolute;
  left: -13px;
  top: 2px;
  border: 1px solid #ccc;
  height: 10px;
}
.products_wrap .delivery_info dd {
  position: relative;
  padding-left: 17px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.products_wrap .delivery_info dd::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 9px;
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background-color: #333;
}
.products_wrap .delivery_info dd .tooltip .text {
  left: -165px;
  top: 35px;
}

.products_wrap .origin_info {
  border-top: 1px solid #eee;
  margin-top: 20px;
  padding-top: 20px;
  display: flex;
  gap: 24px;
}
.products_wrap .origin_info dt {
  padding-left: 25px;
  background: url("../images/pc/ico_origin_01.png") 0 0 no-repeat;
  color: #333;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}
.products_wrap .origin_info dd {
  color: #333;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.tooltip {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  margin-top: -2px;
}
.tooltip.active {
  display: inline-block;
}
.tooltip .btn_emark {
  width: 24px;
  height: 24px;
  background: url("../images/pc/ico_emark_03.png") 0 0 no-repeat;
  border: 0;
  vertical-align: middle;
}
.tooltip .text {
  display: none;
  position: absolute;
  left: -165px;
  top: 35px;
  z-index: 2;
  background-color: #fff;
  padding: 18px 12px 16px;
  width: 330px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  border-radius: 10px;
}
.tooltip.active .text {
  display: inline-block;
}
.tooltip .text::after {
  content: "";
  position: absolute;
  top: -8px;
  left: 50%;
  border-bottom: 10px solid #fff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  transform: translateX(-50%);
}
.tooltip .text .btn_close {
  width: 30px;
  height: 30px;
  background: url("../images/pc/btn_close_02.png") 0 0 no-repeat;
  border: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.products_wrap .product_option {
  border-top: 1px solid #eee;
  margin-top: 20px;
  padding-top: 4px;
}
.products_wrap .product_option .option {
  position: relative;
  margin-top: 16px;
}
.products_wrap .product_option .option ul {
  display: none;
}
.products_wrap .product_option .option.on {
  z-index: 2;
}
.products_wrap .product_option .option.on ul {
  display: block;
}
.products_wrap .product_option .option .text {
  display: block;
  width: 100%;
  white-space: nowrap;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background: #fff url("../images/pc/bul_arrow_07_off.png") right 9px top 9px
    no-repeat;
  border-radius: 4px;
  text-align: left;
  padding: 0 39px 0 12px;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  display: block;
  height: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.products_wrap .product_option .option ul {
  display: none;
  position: absolute;
  left: 0;
  top: 48px;
  background-color: #fff;
  width: 100%;
  border: 1px solid #ccc;
  border-top: 0;
  box-sizing: border-box;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow-y: auto;
  max-height: 250px;
}
.products_wrap .product_option .option ul li {
  padding: 5px 12px;
}
.products_wrap .product_option .option ul button {
  width: 100%;
  box-sizing: border-box;
  height: 34px;
  background-color: #fff;
  text-align: left;
  padding-left: 0;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border: 0;
}

.products_wrap .product_count {
  margin-top: 16px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  border-radius: 4px;
  padding: 10px 19px 10px 14px;
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;
}
.products_wrap .product_count .option_name {
  width: 247px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.71px;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.products_wrap .product_count .option_count {
  width: 118px;
  display: flex;
}
.products_wrap .product_count .box {
  display: flex;
  align-items: center;
}
.products_wrap .product_count .option_count .decrementer {
  width: 36px;
  height: 40px;
  border: 1px solid #ccc;
  background: #fff url("../images/pc/ico_min.png") center no-repeat;
  box-sizing: border-box;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.products_wrap .product_count .option_count .incrementer {
  width: 36px;
  height: 40px;
  border: 1px solid #ccc;
  background: #fff url("../images/pc/ico_plus.png") center no-repeat;
  box-sizing: border-box;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.products_wrap .product_count .option_count .count {
  width: 40px;
  height: 40px;
  background-color: #fff;
  box-sizing: border-box;
  text-align: center;
  border: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  color: #333;
  font-size: 14px;
  font-weight: 700;
}
.products_wrap .product_count .option_price {
  width: 122px;
  text-align: right;
  font-size: 14px;
  font-weight: 700;
}
.products_wrap .product_count .btn_del {
  position: absolute;
  right: 2px;
  top: 2px;
  width: 20px;
  height: 20px;
  background: url("../images/pc/btn_del_02.png") 0 0 no-repeat;
  border: 0;
}

.products_wrap .total_price {
  margin-top: 20px;
  display: flex;
  align-items: center;
  height: 51px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  justify-content: space-between;
}
.products_wrap .total_price dt {
  position: relative;
  padding-left: 19px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.71px;
}
.products_wrap .total_price dt::after {
  content: "";
  position: absolute;
  left: 7px;
  top: 7px;
  width: 4px;
  height: 4px;
  background-color: #333;
  border-radius: 100%;
}
.products_wrap .total_price dd {
  font-size: 26px;
  font-weight: 400;
  line-height: 31.03px;
  text-align: right;
}

.products_wrap .shopping_button {
  display: flex;
  gap: 10px;
  padding-top: 20px;
}
.products_wrap .shopping_button .fav {
  width: 60px;
  height: 60px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background: #fff url("../images/pc/ico_fav_02.png") center no-repeat;
}
.products_wrap .shopping_button .fav.active {
  background: #fff url("../images/pc/ico_fav_02_on.png") center no-repeat;
}
.products_wrap .shopping_button .cart {
  width: 60px;
  height: 60px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background: #fff url("../images/pc/ico_cart_03_add.png") center no-repeat;
}
.products_wrap .shopping_button .bulk {
  width: 140px;
  height: 60px;
  border: 1px solid #c13584;
  border-radius: 4px;
  box-sizing: border-box;
  color: #c13584;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.025em;
  background-color: #fff;
}
.products_wrap .shopping_button .buy {
  flex: 1;
  width: 100%;
  height: 60px;
  border: 1px solid #c13584;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #c13584;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.025em;
}
.prd_slider.recommend .prd_list {
  margin-bottom: 0;
}
.product_detail .detail_tab {
  border-bottom: 1px solid #ccc;
}
.product_detail .detail_tab ul {
  width: 1220px;
  margin: 0 auto;
  display: flex;
}
.product_detail .detail_tab ul li {
  height: 60px;
  width: 100%;
  flex: 1;
  position: relative;
}
.product_detail .detail_tab ul button {
  width: 100%;
  height: 60px;
  border: 0;
  background-color: transparent;
  color: #333;
  font-size: 18px;
  font-weight: 700;
  position: relative;
}
.product_detail .detail_tab ul .active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  border-bottom: 4px solid #c13584;
}
.product_detail .detail_tab ul button .count {
  font-size: 12px;
  font-weight: 400;
  position: relative;
  top: -3px;
}
.product_detail .section {
  border-bottom: 1px solid #ccc;
  width: 1280px;
  margin: 0 auto;
}
.product_detail .delivery_notice {
  padding: 50px 30px 50px;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
}
.product_detail .delivery_notice h4 {
  padding-left: 25px;
  background: url("../images/pc/ico_box_01.png") 0 0 no-repeat;
  color: #333;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 22px;
}
.product_detail .delivery_notice li {
  position: relative;
  padding-left: 17px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.product_detail .delivery_notice li::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 9px;
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background-color: #333;
}
.product_detail .delivery_notice .btn_toggle {
  display: none;
}
.product_detail .detail_contents {
  padding: 50px 30px 30px;
  box-sizing: border-box;
}
.product_detail .products_info {
  padding: 50px 30px 100px;
  box-sizing: border-box;
}
.product_detail .products_info h4 {
  height: 50px;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  color: #333;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.64px;
}
.product_detail .products_info table {
  width: 100%;
}
.product_detail .products_info table th {
  width: 300px;
  text-align: left;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.71px;
  border-bottom: 1px solid #ccc;
  vertical-align: top;
  padding: 17px 0;
}
.product_detail .products_info table td {
  padding: 17px 30px;
  color: #333;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  border-bottom: 1px solid #ccc;
}
.tooltip_coupon {
  position: relative;
  vertical-align: middle;
}
.tooltip_coupon .text {
  display: none;
}
.tooltip_coupon.active .text {
  display: block;
}
.tooltip_coupon .text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 35px;
  z-index: 2;
  background-color: #fff;
  padding: 10px 20px 0;
  width: 326px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  border-radius: 10px;
}
.tooltip_coupon .text dl {
  width: 100%;
}
.tooltip_coupon .text dt {
  height: 33px;
  border-bottom: 1px solid #ccc;
  color: #333;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.71px;
  padding-top: 7px;
  box-sizing: border-box;
}
.tooltip_coupon .text dd {
  padding: 12px 0;
  display: flex;
}
.tooltip_coupon .text dd span {
  flex: 1;
  font-size: 12px;
  font-weight: 400;
}
.tooltip_coupon .text dd strong {
  width: 100px;
  text-align: right;
  font-size: 12px;
  font-weight: 700;
  color: #c13584;
}
.tooltip_coupon .text dd + dd {
  border-top: 1px solid #eee;
}
.tooltip_coupon .text .btn_close {
  width: 30px;
  height: 30px;
  background: url("../images/pc/btn_close_02.png") 0 0 no-repeat;
  border: 0;
  position: absolute;
  right: 20px;
  top: 10px;
}

.product_review {
  padding-top: 66px;
}
.product_review h3.title {
  border-bottom: 1px solid #ccc;
  padding: 0 30px;
  height: 49px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.64px;
}
.product_review .statistics {
  height: 75px;
  line-height: 35px;
  text-align: center;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 26px;
}
.product_review .statistics .review_count {
  color: #666;
}
.product_review .statistics .review_count strong {
  color: #333;
}
.product_review .statistics .point_avg {
  width: 171px;
  height: 35px;
  display: inline-block;
  background: url("../images/pc/ico_star_02_off.png") 0 0 no-repeat;
  vertical-align: middle;
  margin-top: -3px;
  text-align: left;
}
.product_review .statistics .point_avg span {
  display: inline-block;
  height: 35px;
  background: url("../images/pc/ico_star_02_on.png") 0 0 no-repeat;
}
.product_review .tab_wrap {
  display: flex;
  height: 79px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  width: 1220px;
  margin: 0 auto;
}
.product_review .tab_wrap .tab {
  display: flex;
  gap: 25px;
}
.product_review .tab_wrap .tab li {
  padding: 0 20px;
  position: relative;
}
.product_review .tab_wrap .tab li button {
  font-size: 16px;
  font-weight: 700;
  background-color: transparent;
  border: 0;
  color: #999;
}
.product_review .tab_wrap .tab li button span {
  display: inline-block;
  padding: 0 8px;
  line-height: 18px;
  background-color: #333;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  height: 18px;
  margin-left: 4px;
  vertical-align: middle;
}
.product_review .tab_wrap .tab li button.active {
  color: #333;
}
.product_review .tab_wrap .tab li + li::after {
  content: "";
  position: absolute;
  left: -2px;
  top: 5px;
  border-left: 2px solid #eee;
  height: 12px;
}
.product_review .order_select {
  position: relative;
}
.product_review .order_select ul {
  display: none;
}
.product_review .order_select.on {
  z-index: 2;
}
.product_review .order_select.on ul {
  display: block;
}
.product_review .order_select .text {
  display: block;
  width: 100%;
  white-space: nowrap;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background: #f5f5f5 url("../images/pc/bul_select_02.png") right 9px top 7px
    no-repeat;
  border-radius: 4px;
  text-align: left;
  padding: 0 39px 0 12px;
  font-size: 14px;
  font-weight: 700;
  color: #000;
  display: block;
  height: 40px;
}
.product_review .order_select ul {
  display: none;
  position: absolute;
  left: 0;
  top: 38px;
  background-color: #f5f5f5;
  width: 100%;
  border: 1px solid #ccc;
  border-top: 0;
  box-sizing: border-box;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow-y: auto;
  max-height: 250px;
}
.product_review .order_select ul li {
  padding: 5px 12px;
}
.product_review .order_select ul button {
  width: 100%;
  box-sizing: border-box;
  height: 34px;
  background-color: #f5f5f5;
  text-align: left;
  padding-left: 0;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border: 0;
}
.product_review .photo_review {
  width: 1220px;
  margin: 0 auto 20px;
  position: relative;
}
.product_review .photo_review h4 {
  color: #333;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 25px;
}
.product_review .photo_review ul {
  display: flex;
  gap: 8px;
}
.product_review .photo_review ul button {
  padding: 0;
  border: 0;
  background-color: transparent;
}
.product_review .photo_review ul button img {
  border-radius: 4px;
  width: 145px;
  height: 146px;
  border: 1px solid #eee;
  box-sizing: border-box;
}
.product_review .photo_review ul li {
  position: relative;
}
.product_review .photo_review ul .pic_more::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  color: #fff;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
}
.product_review .photo_review ul .pic_more::before {
  content: "더보기";
  position: absolute;
  left: 50%;
  top: 50%;
  padding-left: 25px;
  background: url("../images/pc/btn_more_04.png") 0 0 no-repeat;
  color: #fff;
  z-index: 2;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
.product_review .review_list {
  width: 1220px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 27px;
}
.product_review .page {
  margin-bottom: 50px;
}
.product_review .review_list .hd {
  height: 60px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.product_review .review_list .hd > span {
  display: inline-block;
  position: relative;
}
.product_review .review_list .hd > span + span {
  margin-left: 33px;
}
.product_review .review_list .hd > span + span::after {
  content: "";
  position: absolute;
  left: -16px;
  top: 3px;
  border-left: 2px solid #eee;
  height: 12px;
}
.product_review .review_list > li {
  padding-top: 20px;
  padding-bottom: 30px;
  position: relative;
  border-bottom: 1px solid #ccc;
}
.product_review .review_list > li:first-child {
  padding-top: 0;
}
.product_review .review_list > li button {
  padding: 0;
  background-color: transparent;
}
.product_review .review_list > li button img {
  border-radius: 4px;
  width: 112px;
  height: 113px;
  border: 1px solid #eee;
  box-sizing: border-box;
}
.product_review .review_list .point_avg {
  width: 96px;
  height: 20px;
  display: inline-block;
  background: url("../images/pc/ico_star_03_off.png") 0 0 no-repeat;
  vertical-align: middle;
  margin-top: -3px;
  text-align: left;
  margin-right: 5px;
}
.product_review .review_list .point_avg span {
  display: inline-block;
  height: 20px;
  background: url("../images/pc/ico_star_03_on.png") 0 0 no-repeat;
}
.product_review .review_list .point {
  font-size: 14px;
  font-weight: 700;
  color: #333;
}
.product_review .review_list .user {
  font-size: 12px;
  font-weight: 400;
  color: #333;
}
.product_review .review_list .date {
  font-size: 12px;
  font-weight: 400;
  color: #333;
}
.product_review .review_list .text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #333;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product_review .review_list .option {
  margin-bottom: 11px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.71px;
  color: #999;
}
.product_review .review_list .option p + p {
  margin-top: 11px;
}
.product_review .review_list .mypic {
  display: flex;
  gap: 8px;
  padding-top: 10px;
}
.product_review .review_list .mypic li {
  display: none;
}
.product_review .review_list .mypic li:first-child {
  display: block;
}
.product_review .review_list .mypic button {
  padding: 0;
  border: 0;
  border-radius: 4px;
}
.product_review .btn_referral {
  margin-top: 10px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 114px;
  background-color: #fff;
  display: none;
}
.product_review .btn_referral span {
  display: inline-block;
  padding-left: 21px;
  background: url("../images/pc/ico_good_01.png") 0 0 no-repeat;
  font-size: 12px;
  font-weight: 400;
  color: #333;
}
.product_review .review_list .pic {
  padding-right: 150px;
}
.product_review .review_list .pic .mypic {
  padding: 0;
  border: 0;
  border-radius: 4px;
  width: 112px;
  position: absolute;
  right: 0;
  bottom: 30px;
}
.product_review .review_list .active .text {
  -webkit-line-clamp: unset;
}
.product_review .review_list .active.pic {
  padding-right: 0;
}
.product_review .review_list .active.pic .mypic {
  position: static;
  margin-top: 10px;
}
.product_review .review_list .active.pic .mypic li {
  display: block;
}
.product_review .active .btn_referral {
  display: block;
}

.inquiry_wrap {
  padding: 66px 0 50px;
  position: relative;
}
.inquiry_wrap h3.title {
  border-bottom: 1px solid #ccc;
  padding: 0 30px;
  height: 49px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.64px;
}
.inquiry_wrap .list .hd {
  display: flex;
  width: 1220px;
  margin: 20px auto;
  height: 34px;
  align-items: center;
  justify-content: space-between;
}
.inquiry_wrap .btn_inquiry {
  position: absolute;
  right: 30px;
  top: 56px;
  color: #333;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.025em;
  width: 102px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.inquiry_wrap .inquiry_table {
  width: 100%;
  margin-bottom: 25px;
}
.inquiry_wrap .inquiry_table th {
  background-color: #eee;
  height: 49px;
  color: #333;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.09px;
}
.inquiry_wrap .inquiry_table td {
  text-align: center;
  border-bottom: 1px solid #eee;
}
.inquiry_wrap .inquiry_table .col_01 {
  width: 110px;
}
.inquiry_wrap .inquiry_table .col_02 {
  width: auto;
}
.inquiry_wrap .inquiry_table .col_03 {
  width: 210px;
}
.inquiry_wrap .inquiry_table .col_04 {
  width: 150px;
}
.inquiry_wrap .inquiry_table .inquiry td {
  padding: 10px 0;
}
.inquiry_wrap .inquiry_table .wait {
  display: inline-block;
  width: 54px;
  height: 26px;
  border-radius: 4px;
  line-height: 26px;
  background-color: #999;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
}
.inquiry_wrap .inquiry_table .completed {
  display: inline-block;
  width: 54px;
  height: 26px;
  border-radius: 4px;
  line-height: 26px;
  background-color: #333;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
}
.inquiry_wrap .inquiry_table .text {
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  padding: 10px 0;
}
.inquiry_wrap .inquiry_table .text button {
  background-color: transparent;
  border: 0;
  color: #333;
  padding: 0;
  width: auto;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.inquiry_wrap .inquiry_table .text button.secret {
  background: transparent url("../images/pc/ico_lock_01.png") 0 0 no-repeat;
  padding-left: 30px;
}
.inquiry_wrap .inquiry_table .text button.active {
  white-space: normal;
}
.inquiry_wrap .inquiry_table .content,
.inquiry_wrap .inquiry_table .reply {
  display: none;
}
.inquiry_wrap .inquiry_table .content.active,
.inquiry_wrap .inquiry_table .reply.active {
  display: table-row;
}
.inquiry_wrap .inquiry_table .content td,
.inquiry_wrap .inquiry_table .reply td {
  background-color: #fbfbfb;
  line-height: 1.7;
}
.inquiry_wrap .inquiry_table .reply .text {
  padding-left: 30px;
  background: #fbfbfb url("../images/pc/ico_reply_01.png") 0 10px no-repeat;
}

.customer_info {
  padding: 66px 0 50px;
}
.customer_info .list_dot {
}
.customer_info .list_dot li {
  position: relative;
  padding-left: 17px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.customer_info .list_dot li + li {
  margin-top: 10px;
}
.customer_info .list_dot li::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 9px;
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background-color: #333;
}
.customer_info .delivery {
}
.customer_info .delivery h4 {
  border-bottom: 1px solid #ccc;
  padding: 0 30px 0 70px;
  height: 49px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.64px;
  background: url("../images/pc/ico_box_02.png") 30px 0 no-repeat;
}
.customer_info .delivery section {
  width: 1220px;
  margin: 0 auto;
  padding-top: 30px;
}
.customer_info .delivery h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.09px;
  color: #333;
}
.customer_info .delivery ul {
  margin-top: 20px;
}
.customer_info .refund {
  margin-top: 40px;
}
.customer_info .refund h4 {
  border-bottom: 1px solid #ccc;
  padding: 0 30px 0 70px;
  height: 49px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.64px;
  background: url("../images/pc/ico_info_01.png") 30px 0 no-repeat;
}
.customer_info .refund section {
  width: 1220px;
  margin: 0 auto;
  padding-top: 30px;
}
.customer_info .refund h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.09px;
  color: #333;
}
.customer_info .refund ul {
  margin-top: 20px;
}
.customer_info .refund ul strong {
  color: #c13584;
}

.thumb_wrap .ctrol {
  position: relative;
  width: 500px;
  margin: 20px auto 0;
  box-sizing: border-box;
  padding: 0 55px;
}
.thumb_wrap .ctrol .slider ul {
  display: flex;
  padding-top: 5px;
}
.thumb_wrap .ctrol .slider ul li {
  padding: 0 5px;
}
.thumb_wrap .ctrol .slider ul li button {
  border: 0;
  padding: 0;
  background-color: transparent;
}
.thumb_wrap .ctrol .slider ul li button img {
  width: 70px;
  height: 70px;
  border: 1px solid #eee;
  box-sizing: border-box;
  border-radius: 4px;
}
.thumb_wrap .ctrol .btn_prev {
  position: absolute;
  left: 5px;
  top: 20px;
  width: 40px;
  height: 40px;
  background: url("../images/pc/btn_left_01.png") -10px 0 no-repeat;
  border: 0;
  z-index: 99;
}
.thumb_wrap .ctrol .btn_next {
  position: absolute;
  right: 5px;
  top: 20px;
  width: 40px;
  height: 40px;
  background: url("../images/pc/btn_right_01.png") 10px 0 no-repeat;
  border: 0;
  z-index: 99;
}
.thumb_wrap .ctrol .swiper-wrapper {
  gap: 0;
  flex-wrap: nowrap;
}

.photo_review_popup {
  width: 720px;
  max-height: 595px;
}
.photo_review_popup .list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 8px;
}
.photo_review_popup .list button {
  padding: 0;
  border: 0;
  background-color: transparent;
}
.photo_review_popup .detail .thumb {
  height: 370px;
  background-color: #000;
  position: relative;
}
.photo_review_popup .detail .thumb li {
  text-align: center;
  max-height: 370px;
  width: 100%;
}
.photo_review_popup .detail .btn_prev {
  position: absolute;
  left: 0;
  top: 155px;
  width: 60px;
  height: 60px;
  background: url("../images/pc/btn_left_02.png") -10px 0 no-repeat;
  border: 0;
  z-index: 99;
}
.photo_review_popup .detail .btn_next {
  position: absolute;
  right: 0;
  top: 155px;
  width: 60px;
  height: 60px;
  background: url("../images/pc/btn_right_02.png") 10px 0 no-repeat;
  border: 0;
  z-index: 99;
}
.photo_review_popup .detail .swiper-wrapper {
  gap: 0;
  flex-wrap: nowrap;
}
.photo_review_popup .detail .point_avg {
  width: 96px;
  height: 20px;
  display: inline-block;
  background: url("../images/pc/ico_star_03_off.png") 0 0 no-repeat;
  vertical-align: middle;
  margin-top: -3px;
  text-align: left;
  margin-right: 5px;
}
.photo_review_popup .detail .point_avg span {
  display: inline-block;
  height: 20px;
  background: url("../images/pc/ico_star_03_on.png") 0 0 no-repeat;
}
.photo_review_popup .detail .point {
  font-size: 14px;
  font-weight: 700;
  color: #333;
}
.photo_review_popup .detail .user {
  font-size: 12px;
  font-weight: 400;
  color: #333;
}
.photo_review_popup .detail .date {
  font-size: 12px;
  font-weight: 400;
  color: #333;
}
.photo_review_popup .detail .option {
  margin-bottom: 11px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #999;
}
.photo_review_popup .detail .option p + p {
  margin-top: 11px;
}
.photo_review_popup .detail .btn_referral {
  margin-top: 10px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 114px;
  background-color: #fff;
}
.photo_review_popup .detail .btn_referral span {
  display: inline-block;
  padding-left: 21px;
  background: url("../images/pc/ico_good_01.png") 0 0 no-repeat;
  font-size: 12px;
  font-weight: 400;
  color: #333;
}
.photo_review_popup .detail .hd {
  height: 60px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 0;
  border-bottom: 0;
  justify-content: flex-start;
}
.photo_review_popup .detail .hd > span {
  display: inline-block;
  position: relative;
}
.photo_review_popup .detail .hd > span + span {
  margin-left: 33px;
}
.photo_review_popup .detail .hd > span + span::after {
  content: "";
  position: absolute;
  left: -16px;
  top: 3px;
  border-left: 2px solid #eee;
  height: 12px;
}
.photo_review_popup .detail .text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.inquiry_popup {
  width: 720px;
}
.inquiry_popup .product {
  border-bottom: 1px solid #ccc;
  display: flex;
  gap: 20px;
  align-items: center;
  padding-bottom: 20px;
  margin-bottom: 15px;
}
.inquiry_popup .product .thumb {
  width: 80px;
}
.inquiry_popup .product p {
  flex: 1;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.09px;
  color: #333;
}
.inquiry_popup .product p span {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.32px;
  margin-bottom: 9px;
}
.inquiry_popup .inquiry_form {
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.inquiry_popup .inquiry_form table {
  width: 100%;
}
.inquiry_popup .inquiry_form th {
  text-align: left;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.09px;
  width: 80px;
  vertical-align: top;
  padding-top: 20px;
}
.inquiry_popup .inquiry_form td {
  padding: 5px 0;
  text-align: left;
}
.inquiry_popup .inquiry_form td .input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 10px;
  width: 100%;
  height: 50px;
  line-height: 48px;
  color: #333;
  box-sizing: border-box;
}
.inquiry_popup .inquiry_form td textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  height: 92px;
  line-height: 1.5;
  color: #333;
  box-sizing: border-box;
}
.inquiry_popup .inquiry_form .box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inquiry_popup .inquiry_form .box .word {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.32px;
}
.inquiry_popup .btn_wrap {
  text-align: center;
  padding: 20px 0;
}
.inquiry_popup .btn_cancel {
  border: 1px solid #ccc;
  height: 40px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.025em;
  background-color: #fff;
  width: 100px;
  color: #666;
  border-radius: 4px;
}
.inquiry_popup .btn_submit {
  border: 1px solid #333;
  height: 40px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.025em;
  background-color: #333;
  width: 150px;
  color: #fff;
  border-radius: 4px;
}
.inquiry_popup .text_notification {
  background: url("../images/pc/ico_caution_01.png") 0 -2px no-repeat;
  padding-left: 28px;
  line-height: 24px;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  margin-bottom: 10px;
}
.inquiry_popup .product_notification {
  border: 1px solid #eee;
  border-radius: 4px;
}
.inquiry_popup .product_notification h5 {
  line-height: 48px;
  border-bottom: 1px solid #eee;
  padding: 0 19px;
  color: #333;
  font-size: 14px;
  font-weight: 700;
}
.inquiry_popup .product_notification ul {
  padding: 10px 19px 6px;
}
.inquiry_popup .product_notification ul li {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}
.inquiry_popup .product_notification ul li strong {
  color: #ff3b30;
  font-weight: 400;
}

.pannel_toggle {
  display: none;
}

/* Mobile
--------------------------*/

@media (max-width: 1280px) {
  .products_wrap .product_info {
    flex-direction: column-reverse;
    width: auto;
    margin: 0;
  }
  .products_wrap .product_info .thumb_wrap {
    width: 100%;
    margin-bottom: 30px;
  }
  .products_wrap .product_info .thumb_wrap .big_thumb img {
    width: 100%;
    height: auto;
    border-radius: 0;
  }
  .products_wrap .product_info .thumb_wrap .thumb_wrap .ctrol {
    display: none;
  }
  .products_wrap .detail_wrap {
    width: 100%;
    box-sizing: border-box;
  }
  .products_wrap .detail_wrap .sub_copy {
    left: 14px;
    right: 14px;
    font-size: 14px;
    color: #999;
    box-sizing: border-box;
    width: auto;
  }
  .products_wrap .detail_wrap .title {
    padding-top: 10px;
    font-size: 18px;
    line-height: 1.16;
  }
  .products_wrap .detail_wrap .product_name {
    border-bottom: 1px solid #eee;
    padding: 0 14px 20px;
    margin-bottom: 20px;
  }
  .products_wrap .detail_wrap .price_box {
    display: block;
    margin-top: 10px;
    padding: 0 14px;
    font-size: 20px;
  }
  .products_wrap .detail_wrap .price_box.is_disc_coupon {
    font-size: 14px;
  }
  .products_wrap .detail_wrap .price_bulk {
    font-size: 20px;
  }
  .products_wrap .detail_wrap .price_discount {
    font-size: 20px;
  }
  .products_wrap .detail_wrap .discount_box + .bulk_box {
    display: inline-block;
    margin-left: 24px;
  }
  .products_wrap .detail_wrap .discount_box + .bulk_box::after {
    left: -12px;
    height: 16px;
    top: 8px;
  }

  .products_wrap .product_info .thumb_wrap .big_thumb img {
    border-radius: 0;
  }
  .products_wrap .prd_coupon {
    height: 18px;
    font-size: 10px;
    line-height: 18px;
    background: #c13584 url("../images/m/ico_emark_02.png") right 0 / 18px 18px
      no-repeat;
  }
  .products_wrap .prd_bulk {
    height: 18px;
    font-size: 10px;
    line-height: 18px;
  }
  .products_wrap .thumb_wrap .ctrol {
    display: none;
  }
  .products_wrap .photo_review_popup {
    max-height: none;
  }
  .products_wrap .tooltip_coupon {
    position: static;
  }
  .products_wrap .tooltip_coupon .text {
    left: 14px;
    right: 14px;
    transform: translateX(0);
    width: auto;
    max-width: 350px;
  }
  .products_wrap .delivery_info {
    padding: 20px 14px 0;
  }
  .products_wrap .delivery_info dt {
    background: url("../images/m/ico_delivery_01.png") 0 0 / 20px 20px no-repeat;
  }
  .products_wrap .delivery_info dd {
    font-size: 12px;
    line-height: 2;
  }
  .products_wrap .origin_info {
    padding: 20px 14px;
    border-bottom: 1px solid #eee;
  }
  .products_wrap .buy_pannel {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
  }
  .products_wrap .buy_pannel_inner {
    max-width: 768px;
    margin: 0 auto;
    background-color: #fff;
    position: relative;
    padding: 38px 14px 14px;
    box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.05);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-sizing: border-box;
  }
  .products_wrap .buy_pannel .pannel_toggle {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    height: 38px;
    display: block;
    background-color: transparent;
    border: 0;
  }
  .products_wrap .buy_pannel .pannel_toggle::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 14px;
    width: 80px;
    height: 6px;
    margin-left: -40px;
    background-color: #eee;
    border-radius: 4px;
  }
  .products_wrap .buy_pannel .product_option {
    border-top: 0;
    padding-top: 0;
    margin-top: 0;
  }
  .products_wrap .buy_pannel .product_option .option {
    margin-top: 0;
  }
  .products_wrap .buy_pannel .product_option .option + .option {
    margin-top: 10px;
  }
  .products_wrap .buy_pannel .product_option .option .text {
    height: 46px;
    background: #fff url("../images/m/bul_arrow_04_off.png") right 9px top 9px /
      30px 30px no-repeat;
    font-size: 14px;
    font-weight: 400;
  }
  .products_wrap .buy_pannel .product_option .option.on .text {
    background: #fff url("../images/m/bul_arrow_04_on.png") right 9px top 9px /
      30px 30px no-repeat;
  }
  .products_wrap .buy_pannel .product_option .option ul {
    position: static;
    margin-top: -3px;
  }
  .products_wrap .buy_pannel .product_count {
    display: block;
    padding: 10px 14px 20px;
    position: relative;
  }
  .products_wrap .buy_pannel .pannel_cont {
    display: none;
  }
  .products_wrap .buy_pannel .pannel_cont.active {
    display: block;
  }
  .products_wrap .product_count .option_name {
    width: 100%;
    margin-bottom: 8px;
    padding-right: 20px;
    box-sizing: border-box;
    padding-top: 1px;
  }
  .products_wrap .product_count .box {
    justify-content: space-between;
  }
  .products_wrap .product_count .option_count .decrementer {
    width: 36px;
    height: 40px;
    border: 1px solid #ccc;
    background: #fff url("../images/m/ico_min.png") center / 30px no-repeat;
    box-sizing: border-box;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .products_wrap .product_count .option_count .incrementer {
    width: 36px;
    height: 40px;
    border: 1px solid #ccc;
    background: #fff url("../images/m/ico_plus.png") center / 30px no-repeat;
    box-sizing: border-box;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .products_wrap .product_count .option_count .count {
    width: 40px;
    height: 40px;
    background-color: #fff;
    box-sizing: border-box;
    text-align: center;
    border: 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    color: #333;
    font-size: 14px;
    font-weight: 700;
  }
  .products_wrap .product_count .option_price {
    width: auto;
    font-weight: 400;
  }
  .products_wrap .product_count .btn_del {
    right: 13px;
    top: 9px;
    width: 20px;
    height: 20px;
    background: url("../images/m/btn_del_02.png") 0 0 / 20px 20px no-repeat;
    border: 0;
  }
  .products_wrap .total_price dt {
    padding-left: 0;
    font-weight: 400;
  }
  .products_wrap .total_price dt::after {
    display: none;
  }
  .products_wrap .total_price dd {
    font-size: 20px;
    line-height: 23.87px;
  }
  .products_wrap .total_price {
    height: auto;
    margin: 18px 0;
    border-bottom: 0;
    padding-bottom: 0;
  }

  .products_wrap .shopping_button {
    gap: 7px;
    padding-top: 0;
  }
  .products_wrap .shopping_button .fav {
    width: 46px;
    height: 46px;
    background: #fff url("../images/m/ico_fav_02.png") center / 26px 26px
      no-repeat;
  }
  .products_wrap .shopping_button .fav.active {
    /* background: #fff url("../images/m/ico_fav_02_on.png") center / 26px 26px
      no-repeat; */
  }
  .products_wrap .shopping_button .cart {
    width: 46px;
    height: 46px;
    background: #fff url("../images/m/ico_cart_03_add.png") center / 24px 24px
      no-repeat;
  }
  .products_wrap .shopping_button .bulk {
    width: 95px;
    height: 46px;
    font-size: 16px;
  }
  .products_wrap .shopping_button .buy {
    flex: 1;
    width: 100%;
    height: 46px;
    font-size: 16px;
  }

  .product_detail .detail_tab ul {
    width: auto;
    padding: 0 14px;
  }
  .product_detail .detail_tab ul button {
    font-size: 14px;
    padding: 20px 0 0;
    box-sizing: border-box;
    white-space: nowrap;
  }
  .product_detail .detail_tab ul button .count {
    font-size: 10px;
    top: -1px;
  }
  .product_detail .section {
    width: auto;
    border-bottom: 0;
  }
  .product_detail .delivery_notice {
    position: relative;
    padding: 20px 14px;
  }
  .product_detail .delivery_notice h4 {
    padding-left: 25px;
    background: url("../images/m/ico_box_01.png") 0 0 / 20px 20px no-repeat;
    margin-bottom: 0;
  }
  .product_detail .delivery_notice li {
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
  }
  .product_detail .delivery_notice ul {
    display: none;
    margin-top: 25px;
  }
  .product_detail .delivery_notice .btn_toggle {
    position: absolute;
    right: 14px;
    top: 15px;
    width: 30px;
    height: 30px;
    background: transparent url("../images/m/btn_toggle_01_off.png") 0 0 / 30px
      30px no-repeat;
    border: 0;
    display: block;
  }
  .product_detail .delivery_notice.active ul {
    display: block;
  }
  .product_detail .delivery_notice.active .btn_toggle {
    background: transparent url("../images/m/btn_toggle_01_on.png") 0 0 / 30px
      30px no-repeat;
  }
  .product_detail .detail_contents {
    padding: 40px 14px;
  }
  .product_detail .products_info {
    padding: 0 20px 20px;
  }
  .product_detail .products_info h4 {
    font-size: 16px;
    height: 39px;
  }
  .product_detail .products_info table tr,
  .product_detail .products_info table td,
  .product_detail .products_info table th {
    display: block;
  }
  .product_detail .products_info table th {
    border-bottom: 0;
    width: 100%;
    padding: 10px 0 0;
    font-size: 12px;
  }
  .product_detail .products_info table td {
    width: 100%;
    padding: 6px 0 12px;
    font-size: 12px;
  }

  .product_review {
    padding-top: 0;
  }
  .product_review h3.title {
    display: none;
  }
  .product_review .statistics {
    height: 60px;
    font-size: 16px;
    gap: 10px;
    border-bottom: 1px solid #eee;
  }
  .product_review .statistics .point_avg {
    width: 116px;
    height: 24px;
    background: url("../images/m/ico_star_02_off.png") 0 0 / 116px 24px
      no-repeat;
    margin-top: -3px;
  }
  .product_review .statistics .point_avg span {
    height: 24px;
    background: url("../images/m/ico_star_02_on.png") 0 0 / 116px 24px no-repeat;
  }
  .product_review .review_list .point_avg {
    width: 56px;
    height: 12px;
    display: inline-block;
    background: url("../images/m/ico_star_03_off.png") 0 0 / 56px 12px no-repeat;
    margin-top: -3px;
  }
  .product_review .review_list .point_avg span {
    height: 12px;
    background: url("../images/m/ico_star_03_on.png") 0 0 / 56px 12px no-repeat;
  }
  .product_review .review_list .date {
    color: #999;
  }
  .product_review .photo_review {
    padding: 20px 14px 4px;
    width: auto;
    margin-bottom: 0;
  }
  .product_review .photo_review h4 {
    display: none;
  }
  .product_review .photo_review ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .product_review .photo_review ul li button {
    width: 100%;
  }
  .product_review .photo_review ul li img {
    width: 100%;
    height: 100%;
  }
  .product_review .tab_wrap {
    display: none;
  }
  .product_review .review_list {
    width: auto;
    padding-bottom: 0;
    border-top: 1px solid #eee;
  }
  .product_review .review_list > li {
    padding: 0 14px 20px;
    font-size: 12px;
    border-bottom: 1px solid #eee;
  }
  .product_review .review_list > li.pic_one {
    padding-right: 0;
  }
  .product_review .review_list > li.pic_one .pic {
    right: auto;
    left: 14px;
    top: 46px;
    width: 70px;
    height: 70px;
  }
  .product_review .review_list > li.pic_one .pic img {
    width: 100%;
    height: 100%;
  }
  .product_review .review_list > li.pic_one .text {
    padding-left: 90px;
  }
  .product_review .review_list .option {
    display: none;
  }
  .product_review .review_list .hd {
    height: 42px;
    margin-bottom: 0;
  }
  .product_review .review_list .point {
    font-size: 12px;
  }
  .product_review .review_list .text {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
  }
  .product_review .review_list > li button img {
    width: 70px;
    height: 70px;
  }
  .product_review .btn_referral {
    border: 0;
    padding: 0;
    width: auto;
    height: auto;
    margin-top: 5px;
  }
  .product_review .btn_referral span {
    padding-left: 21px;
    background: url("../images/m/ico_good_01.png") 0 0 / 16px 16px no-repeat;
  }
  .product_review .review_list .pic .text {
    padding-left: 90px;
    min-height: 70px;
    padding-right: 14px;
  }
  .product_review .review_list .pic.active .text {
    padding-left: 0;
  }
  .product_review .review_list .pic {
    padding-right: 0;
  }
  .product_review .review_list .pic .mypic {
    left: 14px;
    bottom: 20px;
  }
  .product_review .page {
    margin: 10px 0 20px;
  }

  .prd_slider.recommend {
    padding-bottom: 0;
  }
  .prd_slider.recommend .prd_list {
    margin-bottom: 0;
  }

  .inquiry_wrap {
    padding: 0;
  }
  .inquiry_wrap h3.title {
    display: none;
  }
  .inquiry_wrap .btn_inquiry {
    position: static;
  }
  .inquiry_wrap .list .hd {
    width: auto;
    margin: 0;
    height: 70px;
    padding: 0 14px;
  }
  .inquiry_wrap .list .inquiry_table {
    border-top: 1px solid #eee;
  }
  .inquiry_wrap .list .inquiry_table thead {
    display: none;
  }
  .inquiry_wrap .list .inquiry_table tr,
  .inquiry_wrap .list .inquiry_table td {
    display: block;
    width: 100%;
    border-bottom: 0;
    box-sizing: border-box;
  }
  .inquiry_wrap .list .inquiry_table colgroup {
    display: none;
  }
  .inquiry_wrap .list .inquiry_table tr {
    position: relative;
    padding: 20px 0 0;
  }
  .inquiry_wrap .list .inquiry_table tr td.state {
    text-align: left;
    padding: 0 14px;
  }
  .inquiry_wrap .list .inquiry_table tr td.text {
    text-align: left;
    padding: 10px 14px 20px;
    border-bottom: 1px solid #eee;
    font-size: 12px;
    line-height: 2;
  }
  .inquiry_wrap .list .inquiry_table tr td.user {
    position: absolute;
    left: 93px;
    top: 20px;
    width: auto;
    padding: 0;
    line-height: 26px;
    font-size: 12px;
  }
  .inquiry_wrap .list .inquiry_table tr td.user::after {
    content: "";
    position: absolute;
    left: -13px;
    top: 8px;
    border-left: 2px solid #eee;
    height: 12px;
  }
  .inquiry_wrap .list .inquiry_table tr td.date {
    position: absolute;
    right: 14px;
    top: 20px;
    width: auto;
    padding: 0;
    line-height: 26px;
    font-size: 12px;
    color: #999;
  }
  .inquiry_wrap .list .inquiry_table tr.inquiry .text button {
    font-size: 14px;
  }
  .inquiry_wrap .list .inquiry_table tr.content td.date,
  .inquiry_wrap .list .inquiry_table tr.content td.user,
  .inquiry_wrap .list .inquiry_table tr.reply td.date,
  .inquiry_wrap .list .inquiry_table tr.reply td.user {
    display: none;
  }
  .inquiry_wrap .list .inquiry_table tr.reply td.text {
    padding-left: 44px;
    background: #fbfbfb url("../images/m/ico_reply_01.png") 14px 10px / 24px
      24px no-repeat;
    font-size: 12px;
  }
  .inquiry_wrap .inquiry_table tr.content,
  .inquiry_wrap .inquiry_table tr.reply {
    display: none;
  }
  .inquiry_wrap .inquiry_write {
    padding: 12px 14px 0;
  }
  .inquiry_wrap .inquiry_write button {
    width: 100%;
  }
  .inquiry_wrap .inquiry_table .text button.secret {
    background: transparent url("../images/m/ico_lock_01.png") 0 0 / 24px 24px
      no-repeat;
    padding-left: 29px;
  }
  .inquiry_wrap .page {
    margin: 10px 0 20px;
  }

  .customer_info {
    padding: 30px 14px;
  }
  .customer_info .delivery section {
    width: auto;
    padding-top: 20px;
  }
  .customer_info .delivery h4 {
    font-size: 16px;
    padding-left: 25px;
    background: url("../images/m/ico_box_02.png") 0 0 / 20px 20px no-repeat;
    line-height: 20px;
    height: 40px;
  }
  .customer_info .refund section {
    width: auto;
  }
  .customer_info .refund h5,
  .customer_info .delivery h5 {
    margin-left: 4px;
    font-size: 14px;
  }
  .customer_info .refund ul,
  .customer_info .delivery ul {
    margin-top: 10px;
  }
  .customer_info .list_dot li {
    font-size: 12px;
    line-height: 18px;
  }
  .customer_info .list_dot li::after {
    top: 6px;
  }
  .customer_info .refund h4 {
    font-size: 16px;
    padding-left: 25px;
    background: url("../images/m/ico_info_01.png") 0 0 / 20px 20px no-repeat;
    line-height: 20px;
    height: 40px;
  }

  .popup.m_full .content.photo_review_popup {
    width: auto;
    margin: 45px 0 0;
    padding: 10px 0 20px;
  }
  .photo_review_popup .detail {
    padding: 60px 0 30px;
    position: relative;
  }
  .photo_review_popup .detail .hd {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    justify-content: center;
  }
  .photo_review_popup .detail .option {
    padding: 30px 14px 10px;
    line-height: 24px;
  }
  .photo_review_popup .detail .text {
    padding: 0 14px;
  }
  .photo_review_popup .detail .btn_referral {
    margin-left: 14px;
    margin-top: 14px;
  }
  .photo_review_popup .list {
    margin: 0;
    padding: 0 14px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
  }
  .photo_review_popup .list button {
    width: 100%;
  }
  .photo_review_popup .list button img {
    width: 100%;
    height: auto;
  }
  .inquiry_popup {
    width: auto;
  }
  .inquiry_popup .inquiry_form {
    border-bottom: 0;
    padding-bottom: 27px;
  }
  .inquiry_popup .inquiry_form th {
    display: none;
  }
  .inquiry_popup .inquiry_form td .input {
    height: 46px;
  }
  .inquiry_popup .btn_cancel {
    width: 104px;
  }
  .inquiry_popup .text_notification {
    background: url("../images/m/ico_caution_01.png") 0 -2px / 24px 24px no-repeat;
  }
  .inquiry_popup .product_notification ul li {
    font-size: 14px;
  }
  .inquiry_popup .btn_wrap {
    display: flex;
    gap: 6px;
    padding-top: 0;
  }
  .inquiry_popup .btn_wrap .btn_submit {
    flex: 1;
  }
}
@media (max-width: 420px) {
  .products_wrap .detail_wrap .discount_box {
    display: block;
  }
  .products_wrap .detail_wrap .bulk_box {
    display: block;
    margin-left: 0 !important;
  }
  .products_wrap .detail_wrap .discount_box + .bulk_box::after {
    display: none;
  }
}
